<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Llueve
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-row class="ciudades_container">
                    <ion-col *ngFor="let ciudad of ciudades">
                        <ion-chip (click)="onGetWeather(ciudad)">{{ ciudad.nombre }}
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
                <h3>{{ ciudadActual.nombre }}</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">

                <div *ngIf="prevision">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>{{ prevision.current.dt | unix2date | date:'EEEE, dd-MM-yyyy' }}
                            </ion-card-title>
                            <ion-card-subtitle>{{ ahora | date:'shortTime' }}</ion-card-subtitle>
                        </ion-card-header>

                        <ion-card-content>
                            <ion-grid class="ion-no-padding ion-no-margin">
                                <ion-row class="vertical-align-content">
                                    <ion-col>
                                        <ion-img [src]="rutaImagen(prevision.current.weather[0].icon, 4)"></ion-img>
                                    </ion-col>

                                    <ion-col style="font-size:xx-large;">
                                        {{ +prevision.current.temp | temperatura }}
                                    </ion-col>

                                    <ion-col size="6">
                                        <ion-row>
                                            <ion-text><b>{{ prevision.current.weather[0].description | capitaliza }}</b>
                                            </ion-text>
                                        </ion-row>
                                        <ion-row class="letra_small">Sensación: {{ +prevision.current.feels_like |
                                            temperatura }}
                                        </ion-row>
                                    </ion-col>

                                </ion-row>

                                <ion-row>
                                    <ion-col size="3">
                                        <ion-card class="ion-no-margin" style="height:100%;">
                                            <ion-card-content>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center;">
                                                    <ion-img style="width:30px" src="/assets/icon/windsock-40.png">
                                                    </ion-img>
                                                </div>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center; margin-top: 5px;">
                                                    <ion-text class="letra_x_small">{{ prevision.current.wind_speed |
                                                        viento }}
                                                    </ion-text>
                                                </div>
                                            </ion-card-content>
                                        </ion-card>
                                    </ion-col>

                                    <ion-col size="3">
                                        <ion-card class="ion-no-margin" style="height:100%;">
                                            <ion-card-content>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center;">
                                                    <ion-img style="width:30px" src="/assets/icon/hygrometer-40.png">
                                                    </ion-img>
                                                </div>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center; margin-top: 5px;">
                                                    <ion-text class="letra_x_small">{{ prevision.current.humidity |
                                                        humedad }}
                                                    </ion-text>
                                                </div>
                                            </ion-card-content>
                                        </ion-card>
                                    </ion-col>

                                    <ion-col size="3">
                                        <ion-card class="ion-no-margin" style="height:100%;">
                                            <ion-card-content>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center;">
                                                    <ion-img style="width:30px"
                                                        src="/assets/icon/pressure-gauge-40.png"></ion-img>
                                                </div>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center; margin-top: 5px;">
                                                    <ion-text class="letra_x_small">{{ +prevision.current.pressure |
                                                        presion }}
                                                    </ion-text>
                                                </div>
                                            </ion-card-content>
                                        </ion-card>
                                    </ion-col>

                                    <ion-col size="3">
                                        <ion-card class="ion-no-margin" style="height:100%;">
                                            <ion-card-content>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center;">
                                                    <ion-img style="width:30px" src="/assets/icon/summer-40.png">
                                                    </ion-img>
                                                </div>
                                                <div
                                                    style="display: flex; align-items: center; justify-content: center; margin-top: 5px;">
                                                    <ion-text class="letra_x_small">{{ prevision.current.uvi }}
                                                    </ion-text>
                                                </div>
                                            </ion-card-content>
                                        </ion-card>
                                    </ion-col>

                                </ion-row>

                            </ion-grid>
                        </ion-card-content>
                    </ion-card>


                    <ion-card *ngFor="let dia of prevision.daily">
                        <ion-card-content>
                            <ion-grid>
                                <ion-row class="vertical-align-content">
                                    <ion-col size="3">
                                        <ion-text class="letra_small">{{ dia.dt | unix2date | date:'EEEEEE dd-MM' }}
                                        </ion-text>
                                    </ion-col>
                                    <ion-col>
                                        <ion-img [src]="rutaImagen(dia.weather[0].icon, 2)" style="width: 50px">
                                        </ion-img>
                                    </ion-col>
                                    <ion-col>
                                        <ion-text color="primary"><b>{{ +dia.temp.max | temperatura }}</b></ion-text>
                                    </ion-col>
                                    <ion-col>
                                        <ion-text color="secondary"><b>{{ +dia.temp.min | temperatura }}</b></ion-text>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-text class="letra_x_small">{{ dia.weather[0].description | capitaliza }}
                                        </ion-text>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </ion-card-content>
                    </ion-card>
                </div>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>